<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAINTERRA.My.MySettings.admininterrabdConexion" connectionString="Dsn=INTERRAODBC;uid=interrah_admininterra;pwd=WHFs%R&amp;y{cfY"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
